.a-flip-top {
    -webkit-animation: flipTop 0.6s ease-in-out forwards;
            animation: flipTop 0.6s ease-in-out forwards;
  }
  
  @-webkit-keyframes flipTop {
    0% {
      height: 100%;
      opacity: 0.8;
    }
    100% {
      height: 0;
      opacity: 1;
    }
  }
  
  @keyframes flipTop {
    0% {
      height: 100%;
      opacity: 0.8;
    }
    100% {
      height: 0;
      opacity: 1;
    }
}



.a-flip-down {
  -webkit-animation: flipDown 0.4s ease-in-out forwards;
  animation: flipDown 0.4s ease-in-out forwards;
}

@-webkit-keyframes flipDown {
  0% {
      opacity: 0;
      height: 0;
  }

  100% {
      opacity: 1;
      height: 100%;
  }
}

@keyframes flipDown {
  0% {
      opacity: 0;
      height: 0;
  }

  100% {
      opacity: 1;
      height: 100%;
  }
}
