.footer {
	margin: 180px 0 80px 0;

	@media (max-width: 450px) {
		margin: 90px 0 20px 0;
	}
  
	&__container {
	  display: flex;
	  justify-content: space-between;
	  align-items: flex-start;

	  @media (max-width: 768px) {
		flex-wrap: wrap;
			& :last-child {
				margin-left: auto;
			}

			@media (max-width: 660px) {
				flex-direction: column;

				& :last-child {
					margin-left: 0;
				}
			}
	  }
	}
	
	&__block {
	  max-width: 374px;
  
	  @media (max-width: 768px) {
		max-width: 192px;

		@media (max-width: 660px) {
			& br {
				display: none;
			}

			&:nth-child(1) {
				order: 1;
			}
			&:nth-child(2) {
				order: 3;
				margin-top: 25px;
			}
			&:nth-child(3) {
				order: 2;
				margin-top: 40px;
			}
			&:nth-child(4) {
				order: 4;
				margin-top: 40px;
				margin-left: 0;
			}

		}
	  }
  
	  &__title {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		text-transform: uppercase;
		color: #F2F2F2;

		line-height: 17px;
  
		@media (max-width: 768px) {
		  margin-bottom: 25px;

		  @media (max-width: 660px) {
			margin-bottom: 15px;
		  }
		}
	  }
	}
  
	&__link {
	  display: inline-block;
	  font-family: 'Neue Haas Grotesk Display Pro';
	  font-style: normal;
	  font-weight: 500;
	  font-size: 17px;
	  line-height: 20px;
	  color: #BDBDBD;
	  
		@media (min-width: 768px) {

			&:after {
				content: '';
				display: block;
				width: 0;
				padding-top: 3px;
				border-bottom: 1px solid #E0E0E0;
				transition: all 0.3s;
			}	
		}
  
	  &:hover::after {
		@media (min-width: 768px) {
		  width: 100%;
		}
	  }
  
	  &__block {
		margin: 22.5px 0;
		font-family: 'Neue Haas Grotesk Display Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 20px;
  
		@media (max-width: 768px) {
		  margin: 13px 0;

		  @media (max-width: 660px) {
			margin: 5px 0;

			&__container {
				display: flex;
				flex-wrap: wrap;
				max-height: 148px;
				max-width: 377.84px;
				gap: 65%;
				flex-direction: column;
			}
		  }
		}
	  }
	}
  
	&__contact__block {
	  margin: 22.5px 0;
	  font-family: 'Neue Haas Grotesk Display Pro';
	  font-style: normal;
	  font-weight: 500;
	  font-size: 17px;
	  line-height: 20px;
  
	  @media (max-width: 768px) {
		margin: 0;
		margin-bottom: 22px;

		@media (max-width: 660px) {
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	  }
	}
  
	&__author {
	  display: inline-block;
	  cursor: pointer;
	  color: #E0E0E0;
  
	  &__block {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 20px;
		text-align: right;
		text-transform: uppercase;
		color: #E0E0E0;
  
		@media (max-width: 768px) {
		  font-size: 15px;

		  @media (max-width: 660px) {
			font-size: 12px;
		  }
		}
	  }
  
	  &:after {
		content: '';
		display: block;
		width: 0;
		border-bottom: 1px solid #E0E0E0;
		width: 100%;
	  }
	}
}




