.header {
	padding: 50px 0;
	position: sticky;
	top: 0;
    z-index: 3;
    background-color: #171717;
    background-image: url(../../img/background.svg);
	transition: top 0.4s ease-in-out;

	@media (max-width: 768px) {
		padding: 48px 0;

		@media (max-width: 450px) {
			padding: 24px 0 24px 0;
		}
	}


	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		cursor: pointer;
		max-width: 179px;
		max-height: 20px;

		& img {
			display: block;
		}
		
		@media (max-width: 768px) {
				max-width: 152px;
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
	
		width: 404px;
		height: 20px;

		@media (max-width: 768px) {
			display: none;
		}
		
		&__link {
			font-family: 'HelveticaNeueCyr';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			color: #C7C7C7;

		
			cursor: pointer;
		}

		&__link::after {

			@media (min-width: 768px) {
				content: '';
				display: block;
				width: 0;
				padding-top: 3px;
				border-bottom: 2px solid #C7C7C7;
				transition: all 0.3s;
			}
			
		
		}

		&__link:hover::after {
			
			@media (min-width: 768px) {
				width: 100%;
			}
			
		}
	}

	
	&__btn__mobile {
		display: none;

		@media (max-width: 768px) {
			display: block;
	
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 22px;
			line-height: 20px;
			color: #C7C7C7;

			@media (max-width: 450px) {
				font-size: 18px;
			}
		}
	}
}


.nav__mobile {
	display: none;
	
	@media (max-width: 768px) {
		display: flex;
		align-items: flex-end;

		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #171717;
		background-image: url(../img/background.svg);
		z-index: 2;
		transition: top 0.3s ease-in-out;

		& li {
			margin-bottom: 35px;
		}

		&__link {
			margin-left: 80px;
			
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 48px;
			line-height: 50px;

			letter-spacing: -0.02em;
			text-transform: uppercase;

			color: #E4E4E4;

			@media (max-width: 450px) {
				margin-bottom: 20px;
				margin-left: 20px;
			}
		}

	}
}

.nav__mobile--open {
	top: 0;
}

.header-hide {
	top: -100%
}


