.modal-window {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms ease-in;

    @media (max-width: 450px) {
        align-items: flex-start;
    }

    &__container {
        flex-basis: 81%;

        @media (max-width: 450px) {
            margin-top: 68px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: var(--title-font-size);
        line-height: 70px;
    
        letter-spacing: -0.02em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        opacity: 0.7;

        @media (max-width: 768px) {
            display: none;
        }
    
    }

    &__close {
        cursor: pointer;
    }

    &__video-block {
        height: 80vh;

        @media (max-width: 450px) {
            height: 50vh;
        }
    }

}

