.modal-window {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms ease-in;

    &__container {
        flex-basis: 81%;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 68px;
        line-height: 70px;
    
        letter-spacing: -0.02em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        opacity: 0.7;
    
    }

    &__close {
        cursor: pointer;
    }

    &__video-block {
        height: 80vh;
    }

}

