.reviews {
    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 140px;

        @media (max-width: 450px) {
            margin-top: 90px;
        }
    }

    &__title {
        margin-bottom: 20px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: var(--title-font-size);
        line-height: 70px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (max-width: 768px) {
            margin-bottom: 10px;

            @media (max-width: 450px) {
                margin-bottom: 0;
            }
        }
    }

    &__block {
        padding: 50px 0 50px 0;
        display: flex;
        border-bottom: solid 1px #323232;

        @media (max-width: 768px) {
            display: block;
            padding: 40px 0 40px 0;

            @media (max-width: 450px) {
                padding: 30px 0 30px 0;
            }
        }

        &__title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
            color: #F2F2F2;

            @media (max-width: 768px) {
                margin-top: 15px;
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__text {
            max-width: 374px;
        
            font-family: 'Neue Haas Grotesk Display Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 27px;
            color: #BDBDBD;

            @media (max-width: 768px) {
                margin-top: 25px;
            }
        }

        &__content {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;
            justify-content: space-between;
        }

        &__place {
            font-family: 'Neue Haas Grotesk Display Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 27px;
            color: #F2F2F2;

            @media (max-width: 768px) {
                margin-top: 10px;
                line-height: 20px;        
            }
        }

        &__img {
            flex-basis: 50%;
            margin-right: 16px;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}