.story {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 140px;

        @media (max-width: 450px) {
            display: block;
            margin-top: 90px;
        }
    }

    &__title {
        flex-basis: 50%;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (max-width: 768px) {
            font-size: 24px;

            @media (max-width: 450px) {
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
    }

    &__right {
        flex-basis: 50%;
        max-width: 765px;

        &__title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 68px;
            line-height: 70px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 45px;

                @media (max-width: 450px) {
                    margin-bottom: 5px;
                }
            }
        }

        &__text {
            font-family: 'Neue Haas Grotesk Display Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 27px;
            color: #BDBDBD;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        
        }

        &__container {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 70px;

                @media (max-width: 768px) {
                    margin-bottom: 50px;

                    @media (max-width: 450px) {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    } 


}