.the_track_kult {
    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 140px;

        @media (max-width: 450px) {
            margin-top: 90px;
        }
    }

    &__title {
        margin-bottom: 70px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: var(--title-font-size);
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (max-width: 768px) {
            margin-bottom: 50px;

            @media (max-width: 450px) {
                margin-bottom: 30px;
                line-height: 45px;
            }
        }
    }

    &__container {
        display: flex;
        align-items: flex-end;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__img {
        flex-basis: 50%;
    }

    &__text {
        margin-left: 16px;
    
        flex-basis: 50%;
        font-family: 'Neue Haas Grotesk Display Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #E0E0E0;

        @media (max-width: 768px) {
            margin-left: 0;
            margin-top: 30px;

            @media (max-width: 450px) {
                font-size: 17px;
                line-height: 27px;
            }
        }
    }
}

