.work {
    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 140px;

        @media (max-width: 450px) {
            margin-top: 90px;
        }
    }

    &__title {
        margin-bottom: 70px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: var(--title-font-size);
        line-height: 70px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
}

.video {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    row-gap: 15px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
        position: relative;

        @media (max-width: 450px) {
            margin-bottom: 25px;
            row-gap: 10px;
        }
    }

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;

        white-space: nowrap;
        overflow: hidden;

    }

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 24.25%); 
        grid-template-rows: repeat(3, 33.33%); 
        grid-column-gap: 16px;
        grid-row-gap: 3.3%;

        @media (max-width: 1440px) {
            grid-row-gap: 2.5%;
            grid-template-columns: repeat(4, 24%); 
        }

        @media (max-width: 768px) {
            display: block;
            margin: 50px auto 0 auto;

            @media (max-width: 425px) {
                margin: 30px auto 0 auto;
            }
        }
    }
}

.video-1 {grid-area: 1 / 1 / 2 / 2;}
.video-2 {grid-area: 1 / 2 / 2 / 3;}
.video-3 {grid-area: 1 / 3 / 2 / 4;}
.video-4 {grid-area: 1 / 4 / 2 / 5;}
.video-5 {grid-area: 2 / 1 / 3 / 2;}
.video-6 {grid-area: 3 / 1 / 4 / 2;}
.video-7 {grid-area: 2 / 2 / 4 / 4;}
.video-8 {grid-area: 2 / 4 / 3 / 5;}
.video-9 {grid-area: 3 / 4 / 4 / 5;}


.play-btn {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -18.5px 0 0 -37px;
    }
}

