/* Base */
@import "./base/animate";
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

@import "../../node_modules/slick-carousel/slick/slick.scss";